@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font: var(--font-lora);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist', system-ui, -apple-system, sans-serif;
}

.font-\[Lora\] {
  font-family: 'Lora', serif;
}

.font-\[Geist\] {
  font-family: 'Geist', sans-serif;
}

.font-\[GeistMono\] {
  font-family: 'GeistMono', monospace;
}
