.logo {
  margin: 32px 0;

}

.logo path {
  fill: var(--foreground-rgb);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  align-items: center;
  display: flex;
  margin: 48px 0;
}

.nav ul {
  display: flex;
  list-style: none;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 16px;
}

.nav ul li {
  padding: 0 8px 16px;
}

.nav ul li a {
  text-decoration: underline;
}
